{% extends 'base.html' %}

{% block body_block %}

    <h1>THE PROFILE</h1>
    <ul>
        <li>Username : {{username}}</li>
        <li>FirstName : {{ firstname1 }}</li>
        <li>LastName : {{ lastname1 }}</li>
      </ul>
    <ul>
      <h2> FOLLOWING LIST </h2>
        {% for check in follow_list %}
          <li>UserName : {{ check.username}}</li>
        {% endfor %}
    </ul>
  <!--  <ul>
        FOLLOWERS LIST
        {% for list in followers%}
        <li> { list.username }}</li>
        {% endfor %}
    </ul> -->

   <img src="{{ profile_pic }}">
    <a href = "{% url 'follow' id=user_id %}"><button>{{status}}</button></a>

{% endblock  %}
